<div fxLayout="column" fxLayoutAlign="center center" class="loginContainer">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Barcode </mat-card-title>
      <mat-card-subtitle>{{this.code}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="this.winning && !this.redeemed">
        <h3>Barcode {{this.code}} is winning!</h3>
        <h4>Prize type: "{{this.prize}}"</h4>
        <img mat-card-image src="../../../../assets/{{this.prize}}.jpg" alt="Photo of a prize type">
      </div>
      <div *ngIf="this.winning && !!this.redeemed">
        <h3>Barcode {{this.code}} is winning!</h3>
        <h4>This code was already redeemed!</h4>
        <img mat-card-image src="../../../../assets/denied.png" alt="code redeemed">
      </div>
      <div *ngIf="!this.winning">
        <h3>Barcode {{this.code}} is not winning!</h3>
        <h4>User can scan another code </h4>
        <img mat-card-image src="../../../../assets/denied.png" alt="code invalid">
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <button *ngIf="this.winning && !!this.redeemed" mat-raised-button color="primary"
        (click)="reportRedemptionAttempt()" [disabled]="reportRedemptionDisabled" id="reportRedemption">REPORT
        REDEMPTION ATTEMPT</button>
      <button *ngIf="this.winning && !!this.redeemed" mat-raised-button color="warn"
        (click)="openAlreadyRedeemedDialog()" id="checkRedemption">CHECK REDEMPTION DETAILS</button>
      <button *ngIf="this.winning && !!this.redeemed" mat-raised-button color="primary"
        routerLink="/users/profile/{{this.userId}}">SCAN ANOTHER CODE</button>
      <button *ngIf="this.winning && !this.redeemed" mat-raised-button color="primary" (click)="openDialog()"
        id="redeem">REDEEM
        CODE NOW</button>
      <button *ngIf="this.winning && !this.redeemed" mat-raised-button color="primary"
        routerLink="/users/profile/{{this.userId}}">SCAN ANOTHER CODE</button>
      <button *ngIf="!this.winning" mat-raised-button color="primary" routerLink="/users/profile/{{this.userId}}">SCAN
        ANOTHER CODE</button>
      <button *ngIf="!this.winning" mat-raised-button color="primary" routerLink="/home" (click)="logout()"
        id="logout">LOG
        OUT</button>
    </mat-card-actions>
  </mat-card>
</div>
