<div class="not-found-container" fxLayout="column" fxLayoutAlign="center center">
  <img src="https://betservis.com/images/404.gif?62518dc1baaf8959c992559807c35ac3" alt="">
  <button mat-raised-button color="primary" routerLink="/">Go Home!</button>
</div>
