@import '../../app-theme';

$primary: mat-palette($mat-red);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);