@import '../../app-theme';

$primary: mat-palette($mat-yellow);
$accent:  mat-palette($mat-blue, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-custom-theme($theme);