<div class="content-container" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="space-around center">

  <div fxLayoutGap="5px" fxLayout="column" fxLayoutAlign="space-around center" [hidden]="!hasDevices">

    <mat-form-field>
      <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!currentDevice">No Device Selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId"
          [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
      </select>
    </mat-form-field>

    <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
      [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
      (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)">
    </zxing-scanner>

  </div>

  <div [formGroup]="barcodeForm">
    <mat-form-field appearance="outline">
      <mat-label>Barcode</mat-label>
      <input app-autoFocus #barcodeInput matInput type="text" [(ngModel)]="this.qrResultString"
        formControlName="barcodeValue">
      <mat-hint>Barcode can be entered manually!</mat-hint>
      <span *ngIf="(barcodeValue.dirty || barcodeValue.touched) && barcodeValue.invalid">
        <mat-error>Valid EAN13 barcode is required</mat-error>
      </span>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="redeemWithPrize(barcodeValue.value)"
    [disabled]="!barcodeForm.valid">Submit And Redeem Code</button>


  <ng-container *ngIf="hasPermission === undefined">

    <h2>Waiting for permissions.</h2>

    <blockquote>
      If your device does not have cameras, no permissions will be asked.
    </blockquote>

  </ng-container>

  <ng-container *ngIf="hasPermission === false">

    <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>

  </ng-container>

  <ng-container *ngIf="hasDevices === undefined">

    <h2>Couldn't check for devices.</h2>

    <blockquote>
      This may be caused by some security error.
    </blockquote>

  </ng-container>

  <ng-container *ngIf="hasDevices === false">

    <h2>No devices were found.</h2>

    <blockquote>
      I believe your device has no media devices attached to.
    </blockquote>

  </ng-container>

</div>
