<button mat-icon-button [mat-menu-trigger-for]="themeMenu" matTooltip="Select a theme!" tabindex="-1">
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu class="theme-picker-menu" #themeMenu="matMenu" x-position="before">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let theme of themes">
      <div mat-menu-item (click)="installTheme(theme.name)">
        <div class="theme-picker-swatch">
          <div class="theme-picker-primary" [style.background]="theme.primary">
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>
