<!-- <app-administrator-home></app-administrator-home> -->


<div class="auth-centered" [formGroup]="createUserForm" (ngSubmit)="createUser()">

  <mat-form-field>
    <input #firstName matInput placeholder="User Name" formControlName="name" type="text" id="user-name">
    <mat-hint>Should be between 3 and 30 characters</mat-hint>
    <mat-error *ngIf="hasError('name', 'required')"> Outlet Name is required</mat-error>
    <mat-error *ngIf="hasError('name', 'minlength')">Check minimum length requirement - 6</mat-error>
  </mat-form-field>
  <br />

  <mat-form-field *ngIf="isComponentInCreateState">
    <input #firstName matInput placeholder="Password" formControlName="password" type="password">
    <mat-hint>Should contain at least one letter, at least one number, and be longer than six charaters</mat-hint>
    <mat-error *ngIf="hasError('password', 'required')"> Password is required</mat-error>
    <mat-error *ngIf="hasError('password', 'pattern')"> Check password requirements </mat-error>
  </mat-form-field>
  <br *ngIf="isComponentInCreateState" />

  <mat-form-field *ngIf="isComponentInCreateState">
    <input #firstName matInput placeholder="Confirm Password" formControlName="password" type="password">
    <mat-hint>Should be the same as the password </mat-hint>
    <mat-error *ngIf="hasError('password', 'required')"> Confirm password is required</mat-error>
    <mat-error *ngIf="hasError('password', 'this.checkPasswords')"> Passwords do not match </mat-error>
  </mat-form-field>
  <br *ngIf="isComponentInCreateState" />

  <mat-form-field>
    <input matInput #emailInput placeholder="Email" type="email" formControlName="email">
    <mat-hint>Use valid email!</mat-hint>
    <mat-error *ngIf="hasError('email', 'required')">Field is required</mat-error>
    <mat-error *ngIf="hasError('email', 'email')">Not an email!</mat-error>

  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput #emailInput placeholder="Phone Number" type="text" formControlName="phone">
    <mat-hint>Should be 10 digits!</mat-hint>
    <mat-error *ngIf="hasError('phone', 'required')">Field is required</mat-error>
    <mat-error *ngIf="hasError('phone', 'pattern')"> Not a valid phone number!</mat-error>

  </mat-form-field>
  <br />


  <mat-form-field>
    <mat-select placeholder="Choose Brand" [(ngModel)]="selectedValue" (ngModelChange)='getSelectedCustomer($event)'
      [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let customer of customers" [value]="customer.id">
        {{customer.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-select placeholder="Outlet" formControlName="outlet">
      <mat-option *ngFor="let outlet of selectedOutlets" [value]="outlet.name">
        {{outlet.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />



  <button *ngIf="isComponentInCreateState" mat-raised-button color="primary" (click)="createUser()"> Create
    User</button>
  <button *ngIf="!isComponentInCreateState" mat-raised-button color="primary" (click)="editUser()"> Edit User</button>
</div>
