  <nav *ngIf="showNav$ | async" mat-tab-nav-bar fxLayout="row" fxLayoutAlign="center center">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      <mat-icon>{{link.icon}}</mat-icon>
      {{link.label}}
    </a>
  </nav>

  <router-outlet></router-outlet>
