<mat-dialog-content>
  <h4>
    Would you like to send email report for this redemption attempt to Administrator?
  </h4>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="false">No</button>
</mat-dialog-actions>
