.home-page {
  height: calc(100vh - 64px);
  width: 100vw;
  background: url(../../../assets/background.png);
  background-size: 100%;
}

button {
  margin: 30px;
  min-width: 250px;
  font-size: 25px;
}
