<div fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="loginForm" class="loginContainer">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input #email matInput type="text" formControlName="emailValue">
    <span *ngIf="(emailValue.touched || emailValue.dirty) && emailValue.invalid">
      <mat-error>email is required</mat-error>
    </span>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input #password matInput type="password" formControlName="passwordValue">
    <span *ngIf="(passwordValue.touched || passwordValue.dirty) && passwordValue.invalid">
      <mat-error>password is required</mat-error>
    </span>
  </mat-form-field>

  <br />
  <button mat-raised-button color="primary" (click)="triggerLogin(email.value, password.value)"
    [disabled]="!loginForm.valid">Login</button>
</div>
