<!-- <app-administrator-home></app-administrator-home> -->

<div class="auth-centered" [formGroup]="createOutletForm" (ngSubmit)="createOutlet()">

  <mat-form-field>
    <input #outletName matInput placeholder="Outlet Name" formControlName="name" type="text" id="outlet-name">
    <mat-hint>Should be between 3 and 30 characters</mat-hint>
    <mat-error *ngIf="hasError('name', 'required')"> Outlet Name is required</mat-error>
    <mat-error *ngIf="hasError('name', 'minlength')">Check minimum length requirement - 3</mat-error>
    <mat-error *ngIf="hasError('name', 'maxlength')">Check maximum length requirement - 30 </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-select placeholder="Brand" formControlName="brand">
      <mat-option *ngFor="let brand of brands" [value]="brand.name">
        {{brand.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <button *ngIf="isComponentInCreateState" mat-raised-button color="primary" (click)="createOutlet()" id="create">
    Create
    Outlet</button>
  <button *ngIf="!isComponentInCreateState" mat-raised-button color="primary" (click)="editOutlet()" id="update"> Update
    Outlet</button>
</div>