img {
  align-self: center;
  max-height: 30px;
  margin-left: 10px;
}

.fill-space {
  flex: 1 1 auto;
}

.auth-username {
  margin-right: 20px;
}

button {
  margin: 2px;
}

mat-toolbar {
  background: #de0b1c url(https://mysparx.bg/images/login/tr-spot.png) no-repeat center center;
  line-height: 40px;
  color: #fff;
}

button.mat-menu-item:hover {
  /* background: #de0b1c url(https://mysparx.bg/images/login/tr-spot.png) no-repeat center center !important; */
  color: #fff !important;
}
