<!-- <app-administrator-home></app-administrator-home> -->

<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="User Activities Search">
  </mat-form-field>

  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UserActivity ID </th>
      <td mat-cell *matCellDef="let userActivity "> {{userActivity.id}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let userActivity "> {{userActivity.description}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.date | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.customer}} </td>
    </ng-container>

    <ng-container matColumnDef="outlet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outlet </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.outlet}} </td>
    </ng-container>

    <ng-container matColumnDef="visibleUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let userActivity"> {{userActivity.visibleUser}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>
