<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Activities Search">
  </mat-form-field>

  <form class="date-block" [formGroup]="filterForm">
    <div class="date-block__list">
      <mat-form-field>
        <input matInput [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="date-block__list">
      <mat-form-field>
        <input matInput [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="applyDateFilter()">Submit</button>
  </form>

  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity ID </th>
      <td mat-cell *matCellDef="let RedemptionActivity "> {{RedemptionActivity.id}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeStamp</th>
      <td mat-cell *matCellDef="let RedemptionActivity "> {{RedemptionActivity.timestamp | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Redemption Code </th>
      <td mat-cell *matCellDef="let RedemptionActivity"> {{RedemptionActivity.code}} </td>
    </ng-container>


    <ng-container matColumnDef="outlet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Outlet </th>
      <td mat-cell *matCellDef="let RedemptionActivity"> {{RedemptionActivity.outlet}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
      <td mat-cell *matCellDef="let RedemptionActivity"> {{RedemptionActivity.customer}} </td>
    </ng-container>

    <ng-container matColumnDef="redemptionStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RedemptionCode Status </th>
      <td mat-cell *matCellDef="let RedemptionActivity"> {{RedemptionActivity.redemptionStatus}} </td>
    </ng-container>


    <ng-container matColumnDef="prizeCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prize Barcode </th>
      <td mat-cell *matCellDef="let RedemptionActivity"> {{RedemptionActivity.prizeCode}} </td>
    </ng-container>


    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cashier Name </th>
      <td mat-cell *matCellDef="let RedemptionActivity"> {{RedemptionActivity.username}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>


  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

</div>
