<div class="mat-app-background">
  <app-navbar [loggedIn]="isLogged" [username]="username" (logout)="logout()" [isAdmin]="this.isAdmin"
    [userId]="this.userId"></app-navbar>
  <div class="auth-content">
    <router-outlet></router-outlet>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-running-dots">
  </ngx-spinner>

</div>
